#contact_modal {
  display: none;
}

.relative {
  position: relative;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 7%;
}

.photograph-header > article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  padding-left: 4%;
}

.photograph-name {
  font-size: 64px;
  line-height: 83px;
  color: #d3573c;
  font-weight: 400;
}

.photograph-location {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}

.photograph-tagline {
  font-size: 18px;
  color: #525252;
  font-weight: 400;
}

.tri-div {
  display: flex;
  margin: 20px 0 58px 7%;
}

.tri-p {
  font-size: 18px;
  font-weight: 700;
  margin-right: 25px;
}

.tri-select {
  background-color: #911c1c;
  width: 170px;
  height: 57px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.media_article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

figure {
  width: 350px;
  height: 350px;
  gap: 70px;
  margin-bottom: 30px;
}

.footer-figure {
  display: flex;
  justify-content: space-between;
  color: #911c1c;
  font-size: 20px;
  font-weight: 400;
}

.coeur {
  height: 18px;
  width: 18px;
}

.media-container {
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

video {
  width: 100%;
  height: 100%;
}

.cadre {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  width: 376px;
  height: 66px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  bottom: 0;
  right: 36px;
  background-color: #db8876;
}

/* Contact form */

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  padding: 35px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.modal header div {
  display: block;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

.contact_name {
  font-size: 64px;
  font-weight: normal;
  margin-top: -10px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

.input-message {
  height: 170px;
}

.btn-submit {
  margin-top: 26px;
}

/* ------------------ */

/* Lightbox */

.lightbox {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.lightbox-next,
.lightbox-prev {
  width: 26px;
  height: 28px;
  border: none;
  top: 50%;
  z-index: 11;
  cursor: pointer;
}

.lightbox-next {
  position: absolute;
  right: 126px;
  top: 50%;
}

.lightbox-prev {
  position: absolute;
  left: 126px;
  top: 50%;
}

.lightbox-close {
  border: none;
  z-index: 11;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 126px;
}

.lightbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.lightbox-media-container {
  max-width: 1050px;
  height: 900px;
}

/* ----------------- */
